@model IEnumerable<GamarraPlus.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<head>
    <link rel="stylesheet" href="~/css/tables.css">
</head>

<main>
    <p class="crear-btn">
        <button class="btn btn-primary" onclick="openCreateModal()">Crear Nuevo</button>
    </p>

    <div class="wrapper">

        <table class="tabla">
            <caption>Categorías</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DESCRIPCIÓN</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td data-cell="categoria">@Html.DisplayFor(modelItem => item.IdCategoria)</td>
                        <td data-cell="descripcion">@Html.DisplayFor(modelItem => item.Descripcion)</td>
                        <td data-cell="acciones">
                            <div class="acciones-btns">
                                <a class="btnEditar btn-primary" onclick="openEditModal('@item.IdCategoria', '@item.Descripcion')">EDITAR</a>
                                <button class="btnEliminar btn-danger" onclick="confirmDelete('@item.IdCategoria', '@item.Descripcion')">DELETE</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</main>
<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarLabel">Editar Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formEditarCategoria">
                    <div class="mb-3">
                        <label for="inputDescripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="inputDescripcion" name="descripcion">
                    </div>
                    <input type="hidden" id="inputIdCategoria" name="idCategoria">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="EditarCategoria()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCrear" tabindex="-1" aria-labelledby="modalCrearLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearLabel">Crear nueva Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formCrearCategoria">
                    <div class="mb-3">
                        <label for="inputNuevaDescripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="inputNuevaDescripcion" name="nuevaDescripcion">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="CrearCategoria()">Create</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmDelete(idCategoria, descripcion) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: `Estás a punto de eliminar la categoría con ID. ${idCategoria} (${descripcion}). ¡Esta acción no se puede deshacer!`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: '¡Sí, bórralo!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                deleteCategoria(idCategoria);
            }
        });
    }

    async function deleteCategoria(idCategoria) {
        try {
            const response = await fetch(`/Inventario/EliminarCategoria?idCategoria=${idCategoria}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (response.ok) {
                Swal.fire({
                    title: '¡Eliminada!',
                    text: 'La categoría ha sido eliminada.',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 2000
                });

                setTimeout(() => {
                    location.reload();
                }, 2000);
            } else {
                throw new Error('¡No se pudo eliminar la categoría!');
            }
        } catch (error) {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: error.message || '¡No se pudo eliminar la categoría!'
            });
        }
    }

    function openCreateModal() {
        $('#inputNuevaDescripcion').val('');
        $('#modalCrearLabel').text('Crear nueva Categoría');
        $('#modalCrear').modal('show');
    }

    async function CrearCategoria() {
        var nuevaDescripcion = $('#inputNuevaDescripcion').val();

        try {
            const response = await fetch(`/Inventario/GuardarCategoria`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    descripcion: nuevaDescripcion
                })
            });

            if (response.ok) {
                Swal.fire({
                    title: '¡Creada!',
                    text: 'La categoría ha sido creada.',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 2000
                });

                setTimeout(() => {
                    location.reload();
                }, 2000);
            }
            else {
                throw new Error('¡No se pudo crear la categoría!');
            }
        } catch (error) {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: error.message || '¡No se pudo crear la categoría!'
            });
        }
    }

    function openEditModal(idCategoria, descripcion) {
        $('#inputIdCategoria').val(idCategoria);
        $('#inputDescripcion').val(descripcion);
        $('#modalEditarLabel').text('Editar Categoria');
        $('#modalEditar').modal('show');
    }

    async function EditarCategoria() {
        var idCategoria = $('#inputIdCategoria').val();
        var nuevaDescripcion = $('#inputDescripcion').val();

        try {
            const response = await fetch(`/Inventario/ActualizarCategoria`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    idCategoria: idCategoria,
                    descripcion: nuevaDescripcion
                })
            });

            if (response.ok) {
                Swal.fire({
                    title: '¡Editado!',
                    text: 'La categoría ha sido actualizada.',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 2000
                });

                setTimeout(() => {
                    location.reload();
                }, 2000);
            } else {
                throw new Error('¡No se pudo editar la categoría!');
            }
        } catch (error) {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: error.message || '¡No se pudo editar la categoría!'
            });
        }
    }
</script>
<
